.calculator {
  font-family: Arial, sans-serif;
  width: 95%;

  .calculator__pad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 35px);
    gap: 7px;
    grid-template-areas:
      "plus minus multiply divide"
      "seven eight nine reset"
      "four five six clear"
      "one two three equal"
      "zero zero dot equal"
    ;
  }
}