<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculus</title>
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
    <link rel="icon" href="{{ asset('build/favicon.ico') }}">
</head>

<body>
    <header>
        <h1>The ultimate calculator</h1>
    </header>
    <main id="root"><p>here will be calc</p></main>
    <footer>
        <p>made by Julien Robic</p>
    </footer>
</body>
</html>
