<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="{{ asset('build/favicon.ico') }}">
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
    <title>Calculus</title>
</head>

<body>
    <header>
        <h1>Symfony/React Calculator</h1>
    </header>
    <main id="root"></main>
    <footer>
        <p>Made by Julien Robic</p>
    </footer>
</body>
</html>
