.calculator {
  font-family: Arial, sans-serif;
  width: 95%;

  .calculator__pad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 35px);
    gap: 7px;
    grid-template-areas:
      "reset clear divide multiply"
      "seven eight nine minus"
      "four five six plus"
      "one two three equal"
      "zero zero dot equal"
    ;
  }
}